.footer {
    background-color: #a4c991;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
  }
  ul {
    display: flex;
   
    
  }
  nav {
    display: flex;
    width: 50%;
      justify-content: center;  
  
  }
  li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  a {
    text-decoration: none;
  }