

.main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.name {
font-family: Georgia, 'Times New Roman', Times, serif;
color: blue;
font-size: larger;
}
.showCards {
    border: none;
    width: 10rem;
    height: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    background-color: burlywood;
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;
}
.underline:active {
   background-color: burlywood; 
   color: brown;
}