 .container {
    padding: 20px;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input {
    flex: 1;
    padding: 8px;
    margin-right: 10px; /* Добавляем отступ между input'ами */
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submitBtn, .deleteBtn, .editBtn {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #FF6347;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitBtn:hover, .deleteBtn:hover, .editBtn:hover {
    background-color: #FF4500;
  }
  
  .space {
    width: 10px; /* Расстояние между элементами */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table td {
    text-align: center;
  }
  
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  