.footer {
    background-color: #a4c991;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    width: 150px; /* задаем фиксированную ширину кнопок */
  text-align: center;
  }
  
  .primary {
    background-color: #ff0000; /* красный цвет */
    color: white;
  }
  
  .secondary {
    background-color: #ff3333; /* более темный оттенок красного */
    color: white;
  }
  
  .button + .button {
    margin-left: 20px; /* добавляем расстояние между кнопками */
  }
  
  .button:hover {
    background-color: #cc0000; /* более темный оттенок при наведении */
  }
  
  .button:active {
    background-color: #990000; /* более темный оттенок при нажатии */
  }